<div class="container py-5">
  <h3 class="mb-3 border-bottom pb-3">Company</h3>
  <div class="d-flex align-items-center justify-content-between mb-3">
    <%= link_to 'Back', companies_path, class: 'btn btn-primary btn-sm' %>
    <%= link_to 'Edit', edit_company_path, class: 'btn btn-primary btn-sm', style: 'margin-left: 950px'%>
    <%= link_to 'Delete', company_path(@company), data: { confirm: delete_message('confirmation', @company.name)}, method: :delete, class: 'btn btn-danger btn-sm' %>
  </div>
  <div class="bg-success" style="background-color: <%= @company.color%> !important;">
    <div class="container p-5 text-white">
      <h1><%= @company.name %></h1>
      <h3><mark><%= @company.city_and_state %></mark></h3>
    </div>
  </div>

  <div class="row bg-light">
    <div class="col-12 col-lg-8 p-lg-5 pt-4">
      <%= @company.description %>
    </div>
    <div class="col-12 col-lg-4 pt-lg-5">
      <h4>Services</h4>
      <% @company.services.reject(&:blank?).each do |service| %>
        <p><%= service %></p>
      <% end %>
      <h4>Contact</h4>
        <div class="form-group" data-controller="clipboard">
          <p><%= @company.phone %><br>
          <input type="hidden" value="<%= @company.phone %>" data-target="clipboard.source"></input>
          <a data-action="clipboard#copy" class="clipboard-button pointer text-decoration-none text-dark"> copy</a>
          <a data-target="clipboard.notice" class="clipboard-button pointer d-none text-decoration-none text-dark" class="d-none"> copied</a> 
          </p>         
        </div>
    </div>
  </div>

  <div class="bg-success text-white text-center py-3" style="background-color: <%= @company.color%> !important;">
    <p class="lead"><%= @company.phone %> — <%= @company.email %></p>
  </div>
</div>
